* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.convertor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: aliceblue;
    width: 800px;
    position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.input-group {
    margin-top: 30px;
    padding: 0 10%;
    margin-bottom: 30px;
}

.input-group .form-control {
    background: rgb(224, 224, 224);
}

.convertor .arrow > button{
    border-radius: 50%;
    width: 30px;
    border-width: 0px;
}
