* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagen-top{
    width: 100%; /* width of container */
    height: 450px; /* height of container */
    object-fit: cover;
    border: 1px solid black;
}

.top-page .text-page > h1 {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
}

.top-page .text-page > p {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 30px;
}

.info-cryp{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20%;
}

.info-cryp-2 {
    display: none;
}

.cryp-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
}

.info-cryp .cryp-body .body-text {
    margin: 10px 5px;
}

.info-cryp .cryp-body .body-text .cryp-title > p{
    margin-bottom: 5px;
}

.info-cryp .cryp-body .body-text .cryp-data > p{
    margin-bottom: 5px;
    margin: 0 10px;
}

.info-cryp .cryp-body > img {
    padding: 10px;
    height: 100px;
}

.info-cryp .cryp-body .body-text .cryp-title {
    margin: 0 20%;
}

.info-cryp .cryp-body .body-text .cryp-data{
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}

.trade-view {
    margin: 4% 10%;
    background-color: #ffffff;
    padding: 1% 10% 1%;
}

.figure .figure-caption {
    text-align: center;
    font-size: 20px;
    color: black;
}

.options-section{
    margin-top: -90px;
    margin-bottom: 60px;
}

.options-section .options-content .options-cards {
    align-items: baseline;
}

.options-section .options-content .options-cards .option-column .card > img {
    padding: 30%;
}

.options-section .options-content .options-cards .option-column .card .card-body{
    text-align: center;
    margin-top: -70px;
}

.foot{
    height: 350px; /* height of container */
    border: 1px solid black;
    background-color: black;
}

.foot .foot-page {
    margin-top: 2%;
}

.foot .foot-page .row .col {
    margin-right: 5%;
}

.foot .foot-page .row .col > p, li{
    margin-bottom: 10px;
}

.foot .foot-page .row .col > p {
    font-size: 25px;
}

.foot .foot-page .row .redes > img {
    width: 157px;
    height: 55px;
    object-fit: cover;
    object-position: 20% 10%;
    border: 5px solid black;
}


.foot .foot-text > p {
    text-align: center;
    color: lightgray;
    font-size: x-small;
}


@media (max-width: 425px) {

    .actions {
        width: auto;
    }

    .main {
        font-size: small;
        width: 568px;
    }

    .main .navbar {
        width: 568px;
    }

    .imagen-top{
        width: 568px; /* width of container */
        height: 240px; /* height of container */
        object-fit: cover;
        border: 1px solid black;
    }

    .top-page .text-page > h1 {
        position: absolute;
        top: 9%;
        left: 15%;
        transform: translate(6%, -50%);
        color: #ffffff;
        font-size: 26px;
        text-align: center;
    }

    .top-page .text-page > p {
        position: absolute;
        top: 14%;
        left: 16%;
        transform: translate(7%, -100%);
        color: #ffffff;
        font-size: 18px;
    }

    .info-cryp {
        display: none;
    }

    .info-cryp-2{
        display: block;
        margin-left: 128px;
        margin-right: -23px;
    }

    .cryp-body-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 2px;
    }

    .info-cryp-2 .cryp-body .body-text {
        margin: 10px 5px;
    }

    .info-cryp-2 .cryp-body .body-text .cryp-title > p{
        margin-bottom: 5px;
    }

    .info-cryp-2 .cryp-body .body-text .cryp-data > p{
        margin-bottom: 5px;
        margin: 0 10px;
    }

    .info-cryp-2 .cryp-body > img {
        padding: 10px;
        height: 100px;
    }

    .info-cryp-2 .cryp-body .body-text .cryp-title {
        margin: 0 20%;
    }

    .info-cryp-2 .cryp-body .body-text .cryp-data{
        display: flex;
        flex-direction: row;
        margin: 0 10px;
    }

    .trade-view {
        margin: 6% -12%;
        background-color: #ffffff;
        padding: 1% 1%;
        margin-left: 13%;
    }

    .trade-view .figure {
        margin-left: 25px;
    }

    .trade-view .figure .figure-caption {
        text-align: center;
        font-size: 16px;
        color: black;
    }

    .options-section{
        margin-top: -43px;
        margin-bottom: 60px;
        margin-left: 10%;
    }

    .options-section .options-content .options-cards {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    .options-section .options-content .options-cards {
        align-items: baseline;
    }

    .options-section .options-content .options-cards .option-column .card > img {
        padding: 30%;
    }

    .options-section .options-content .options-cards .option-column .card .card-body{
        text-align: center;
        margin-top: -70px;
    }

    .options-section .options-content .options-cards .option-column .card .card-body > p{
        font-size: x-small;
    }

    .foot{
        height: 250px; /* height of container */
        border: 1px solid black;
        background-color: black;
        width: max-content;
    }

    .foot .foot-page {
        margin-top: 2%;
    }

    .foot .foot-page .row .col {
        margin-right: -4%;
    }

    .foot .foot-page .row .col > p, li{
        margin-bottom: 0px;
    }

    .foot .foot-page .row .col > p {
        font-size: 20px;
    }

    .foot .foot-page .row .redes {
        display: none;
    }

    .foot .foot-text > p {
        text-align: center;
        color: lightgray;
    }
}

