* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {

    margin-top: 140px;
    margin-left: 15%;
}

.monedas .col-sm-10 .input-group {
    width: 200px;
}

.monedas .col-sm-10 .input-group .input-group-text {
    background-color: #ffffff;
    border-right-color: #ffffff;
}

.monedas .col-sm-10 .input-group > input {
    border-left-color: #ffffff;
    width: 100px;
}